.snipe-controls__counter {
  display: flex;
  justify-content: space-around;
  padding: 0px 0px 5px 0;
}

.snipe-controls__step {
  border: 1px solid black;
  width: 100%;
  text-align: center;
  margin: 0px 2.5px;
}
